# Application
/wordpress/public_html/wp-content/languages
#wordpress/public_html/wp-content/plugins/*
#!wordpress/public_html/wp-content/plugins/.gitkeep
wordpress/public_html/wp-content/upgrade
#wordpress/public_html/wp-content/uploads/*
#!wordpress/public_html/wp-content/uploads/.gitkeep

# WordPress
wordpress/public_html/wp
node_modules

.data

# Logs
/logs
*.log

# Composer
wordpress/vendor

# Node/Gulp
/node_modules

# WP-CLI
wp-cli.local.yml
.DS_Store

wordpress/dump.rdb

# backup directories
