/*
 header {
	.header__alert {
		.alert {
			background-color: $brand-primary;
			color: #fff;
			border: none;
			outline: none;
			border-radius: 0;
			margin: 0;
		}
	}

	.header__contact {
		li a {
			color: #fff;
			font-size: 22px;
			padding-top: 10px;
			display: inline-block;
		}
	}
}
*/

