$black: #000000;
$gray: #999999;
$purple: #4B2A72;
$dark-gray: #707070;
$mobile-text-color:#424242;
$white:#fff;
$footer-grey: #F7F7F7;
$primary-color:#CF0F59;
$light-grey: #CCCCCC;
$dark-red :#910B3E;
$base-gradient-color: linear-gradient(90deg, #4e2969 0%, #cf0f59 60%, #dd5412 100%);
$primary_font_family: 'Work Sans';
$SemiBold_font_family :'WorkSans-SemiBold';
$Medium_font_family :'WorkSans-Medium';
$Bold_font_family :'WorkSans-Bold';
$light_font_family:'WorkSans-Light';
$Barlow-Medium-font:'Barlow-Medium';
$Barlow-MediumItalic-font:'Barlow-MediumItalic';